name: Node.js CI

on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: textbook/take-action@nodejs
      with:
        node-version: '24'
    - run: npm ci
    - run: npm run lint
    - run: npm run test:examples
    - run: npm run types
    - run: npm pack
    - uses: actions/upload-artifact@v5
      with:
        if-no-files-found: error
        name: package
        path: codeyourfuture-eslint-config-standard-*.tgz
  test:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        eslint: ['8', '9']
        node: ['lts/hydrogen', 'lts/iron', 'lts/jod', 'lts/krypton']
        include:
          - eslint: '8.45'
            node: '18.18'
          - eslint: '8.45'
            node: 'latest'
          - eslint: '9.0'
            node: '18.18'
          - eslint: '9.0'
            node: 'latest'
    steps:
      - uses: textbook/take-action@nodejs
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/download-artifact@v5
        with:
          name: package
      - run: npm ci
      - run: npm run test:install
        env:
          ESLINT_VERSION: ${{ matrix.eslint }}
          PACK: 'false'
  deploy-github:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [test]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          name: package
      - run: |
          gh release create \
            '${{ github.ref_name }}' \
            --title '${{ github.ref_name }}' \
            codeyourfuture-eslint-config-standard-*.tgz
        env:
          GH_TOKEN: ${{ github.token }}
  deploy-npm:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [test]
    environment:
      name: npm
      url: https://www.npmjs.com/package/@codeyourfuture/eslint-config-standard
    permissions:
      contents: read
      id-token: write
    steps:
    - uses: textbook/take-action@nodejs
      with:
        node-version: '24'
    - uses: actions/download-artifact@v6
      with:
        name: package
    - run: |
        npm install --global npm@latest
        npm publish codeyourfuture-eslint-config-standard-*.tgz
